.delete-song-div {
    font-family: Arial, Helvetica, sans-serif;
    border-top: 4px solid rgb(87, 207, 87);
    border-bottom: 4px solid rgb(87, 207, 87);
    background-color: rgb(112, 112, 112);
    color: white;
    text-align: center;
    padding: 0px 20px;
    width: 370px;
}

.confirm-song-delete, .decline-song-delete {
    background-color: rgb(112, 112, 112);
    border: none;
    border-right: 1px solid rgb(153, 153, 153);

    color: white;
    font-size: 16px;

    margin-bottom: 16px;
    margin-top: 8px;

    padding: 6px 8px;
}

.decline-song-delete {
    border: none;
}

.modalText{
    color: white;
}

.confirm-song-delete:hover {
    background-color: rgba(180, 105, 105, 0.8);
    transition: .5s;
}

.decline-song-delete:hover {
    background-color: rgb(131, 131, 131);
    transition: .5s;
}
